## String Based Practice Problem

### Question 1: Write a program to reverse a string.

In [1]:
def reverse_string(input_string):
        reversed_string = input_string[::-1]              # Use string slicing to reverse the string
        return reversed_string

# Input string
input_string = input("Enter a string: ")

result = reverse_string(input_string)                    # Call the function to reverse the string

print("Reversed string:", result)                        # Display the reversed string

Enter a string: hello, my name is abhimanyu sharma
Reversed string: amrahs uynamihba si eman ym ,olleh

### Question 2: Check if a string is a palindrome.

In [2]:

def is_palindrome(input_string):       # Remove spaces and convert the input string to lowercase for case-insensitive comparison
    cleaned_string = input_string.replace(" ", "").lower()
    
    return cleaned_string == cleaned_string[::-1]   # Compare the cleaned string with its reverse

# Input string
input_string = input("Enter a string: ")

if is_palindrome(input_string):                     # Check if it's a palindrome
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: civic
The string is a palindrome.

### Question 3: Convert a string to uppercase.

In [3]:
def clean_string(input_string):
        cleaned_string = input_string.upper()              # Use upper function to reverse the string
        return cleaned_string

# Input string
input_string = input("Enter a string: ")

result = clean_string(input_string)                     # Call the function to clean the string

print("Cleaned_string:", result)                        # Display the Cleaned string

Enter a string: hello, my name is abhimanyu sharma
Cleaned_string: HELLO, MY NAME IS ABHIMANYU SHARMA

### Question 4: Convert a string to lowercase.

In [4]:
def clean_string(input_string):
        cleaned_string = input_string.lower()              # Use lower function to reverse the string
        return cleaned_string

# Input string
input_string = input("Enter a string: ")

result = clean_string(input_string)                     # Call the function to lower the string

print("Cleaned_string:", result)                        # Display the Cleaned string

Enter a string: HELLO, MY NAME IS ABHIMANYU SHARMA AND I AM PRACTICING PYTHON
Cleaned_string: hello, my name is abhimanyu sharma and i am practicing python

### Question 5: Count the number of vowels in a string.

In [5]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"              # Define a set of vowels
    
    vowel_count = 0                    # Initialize a variable to count the vowels
    
    for char in input_string:          # Iterate through each character in the input string
         if char in vowels:            # Check if the character is a vowel
            vowel_count += 1
    
    return vowel_count

input_string = input("Enter a string: ")  # Input string

vowel_count = count_vowels(input_string)  # Call the function to count vowels

print("Number of vowels in the string:", vowel_count) # Display the result

Enter a string: hello, my name is abhimanyu sharma
Number of vowels in the string: 11

### Question 6: Count the number of consonants in a string.

In [6]:
def count_consonants(input_string):
    vowels = "aeiouAEIOU"              # Define a set of vowels
    
    consonants_count = 0               # Initialize a variable to count the consonants
    
    for char in input_string:          # Iterate through each character in the input string
         
        if char.isalpha() and char not in vowels:            # Check if the character is not a vowel
            consonants_count += 1
    
    return consonants_count

input_string = input("Enter a string: ")  # Input string

consonants_count = count_consonants(input_string)  # Call the function to count vowels

print("Number of consonants in the string:", consonants_count) # Display the result

Enter a string: hello, my name is abhimanyu sharma
Number of consonants in the string: 17

### Question 7: Remove all whitespaces from a string.

In [7]:
def remove_whitespaces(input_string):
    
    cleaned_string= input_string.replace(" ","")   # Function to remove the whitespaces from the string
    
    return cleaned_string                          # Return the cleaned string

input_string= input("Enter a string:")             # Enter the input from the user in form of string

result= remove_whitespaces(input_string)            # Apply the function to the input string

print("Final String without whitespaces: ", result)  # Print the final result

Enter a string:hello, my name is abhimanyu sharma
Final String without whitespaces:  hello,mynameisabhimanyusharma

### Question 8: Find the length of a string without using the `len()` function.

In [8]:
def string_length(input_string):    # Define the function to calculate the string length
    
    length=0                        # Initialise the variable to count total characters
    
    for char in input_string:       # Iteration of each character in the string
        
        length +=1                  # Increase the count by 1 
    
    return length                   # Return the final length of the string

input_string = input("Enter a string: ")  # Enter the input from the user in form of string

length = string_length(input_string) # Apply the function to find the length of the input string

print("The Length of the string: ", length) # Print the final result

Enter a string: hello, my name is abhimanyu sharma
The Length of the string:  34

### Question 9: Check if a string contains a specific word.

In [9]:
input_string = input("Enter a string: ").lower()  # Input the string

specific_word = input("Enter the word need to check in the string : ").lower()

if specific_word in input_string:     # Check if the specific word is in the input string
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string: hello, my name is abhimanyu sharma
Enter the word need to check in the string : ABHIMANYU
The string contains the word 'abhimanyu'.

### Question 10: Replace a word in a string with another word.

In [10]:
def replace_word(input_string, word, new_word):
    
    replaced_string = input_string.replace(word, new_word) # Use the replace() method to replace old_word with new_word
    
    return replaced_string

# Input string
input_string = input("Enter a string: ").lower()

word = input("Enter the word which need to replace: ")  # Enter the which need to replace

new_word = input("Enter the new word: ")   # Enter the new word which should be replaced with old word

result = replace_word(input_string, word, new_word) # Call the function to replace the word in the string

# Display the result
print("String with new_word :", result)

Enter a string: hello, my name is abhimanyu sharma and i am practicing python
Enter the word which need to replace: abhimanyu
Enter the new word: abhi
String with new_word : hello, my name is abhi sharma and i am practicing python

### Question 11: Count the occurrences of a word in a string.

In [11]:
def count_word_occurrences(input_string, target_word):
    # Split the input string into words
    words = input_string.split()
    
    # Initialize a variable to count occurrences
    count = 0
    
    # Iterate through the words and count matches
    for word in words:
        if word == target_word:
            count += 1
    
    return count

# Input string
input_string = input("Enter a string: ").lower()

# Target word to count occurrences
target_word = input("Enter the word to count: ")

# Call the function to count occurrences of the word in the string
occurrences = count_word_occurrences(input_string, target_word)

# Display the result
print(f"The word '{target_word}' occurs {occurrences} times in the string.")

Enter a string: hello, my name is abhimanyu sharma
Enter the word to count: abhimanyu
The word 'abhimanyu' occurs 1 times in the string.

### Question 12. Find the first occurrence of a word in a string.

In [12]:
text = input("Plese enter the string").lower()                              # Enter the string 
word = input("Please enter the word to find in the string").lower()

position = text.find(word)    # Find the first occurrence of the word

if position != -1:
    print(f"The word '{word}' was found at position {position}.")
else:
    print(f"The word '{word}' was not found in the text.")

Plese enter the stringhello, my name is abhimanyu sharma
Please enter the word to find in the stringabhimanyu
The word 'abhimanyu' was found at position 18.

### Question 13. Find the last occurrence of a word in a string.

In [13]:
text = input("Plese enter the string").lower()                             # Enter the string 
word = input("Please enter the word to find in the string"  ).lower()

position = text.rfind(word)                                        # Find the last occurrence of the word

if position != -1:
    print(f"The word '{word}' was found at position {position}.")
else:
    print(f"The word '{word}' was not found in the text.")

Plese enter the stringhello, my name is abhimanyu sharma and i am practicing python
Please enter the word to find in the stringpython
The word 'python' was found at position 55.

### Question 14. Split a string into a list of words.

In [14]:
text = input (" Please enter the string ").lower()
word_set = text.split()
print(f"The final output of the string is {word_set} ." )

 Please enter the string hello, my name is abhimanyu sharma
The final output of the string is ['hello,', 'my', 'name', 'is', 'abhimanyu', 'sharma'] .

### Question 15. Join a list of words into a string.

In [15]:
word_set= ['I', 'am', 'Abhimanyu','Sharma', 'and','i', 'am','practicing','python']  
String_1 = " ".join(word_set)
print(f" The final output is {String_1}.")

 The final output is I am Abhimanyu Sharma and i am practicing python.

### Question 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
text = input (" Please enter the string ").lower()
Final_String = text.replace(" ", "_")
print(f" The final output is {Final_String}.")

 Please enter the string hello, my name is abhimanyu sharma and i am practicing python
 The final output is hello,_my_name_is_abhimanyu_sharma_and_i_am_practicing_python.

### Question 17. Check if a string starts with a specific word or phrase.

In [17]:
string_1 = input (" Please enter the string ").lower()
check_word = input(" Please enter the word to check in the string " ).lower()

if string_1.startswith(check_word):
    print(f"The string starts with {check_word}. ")
    
else:
    print(f"The String does not start with {check_word}. ")

 Please enter the string hello, my name is abhimanyu
 Please enter the word to check in the string name
The String does not start with name.

### Question 18. Check if a string ends with a specific word or phrase.

In [18]:
string_1 = input (" Please enter the string ").lower()
check_word = input(" Please enter the word to check in the string " ).lower()

if string_1.endswith(check_word):
    print(f"The string ends with {check_word}. ")
    
else:
    print(f"The String does not ends with {check_word}. ")

 Please enter the string hello, my name is abhimanyu sharma
 Please enter the word to check in the string hello
The String does not ends with hello.

### Question 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [20]:
string_1="hello world"        # Entering string or sentence
final_string = string_1.title()    # Title function will make the first letter capital of each word
print(f"The final output of the string is {final_string}.")

The final output of the string is Hello World.

### Question 20. Find the longest word in a string.

In [22]:
string_1=input("Please enter the sentence:").lower()   # Enter the Sentence

word_set = string_1.split()     # Splitting the string into sets of words

longest_word = ""
max_length = 0                    # Initialisation of the variables

for word in word_set:             # for loop to iterate each word in the given sentence
    if len(word)>max_length:     
        max_length = len(word)
        longest_word=word
        
print(f"The longest word in the given sentence is '{longest_word}'.")

Please enter the sentence:hello, my name is abhimanyu sharma
The longest word in the given sentence is 'abhimanyu'.

### Question 21. Find the shortest word in a string.

In [23]:
string_1=input("Please enter the sentence:").lower()   # Enter the Sentence

word_set = string_1.split()     # Splitting the string into sets of words

shortest_word = ""
min_length = float('inf')                    # Initialisation of the variables

for word in word_set:             # for loop to iterate each word in the given sentence
    if len(word)<min_length:     
        min_length = len(word)
        shortest_word=word
        
print(f"The shortest word in the given sentence is '{shortest_word}'.")

Please enter the sentence:hello, my name is abhimanyu sharma
The shortest word in the given sentence is 'my'.

### Question 22. Reverse the order of words in a string.

In [25]:
string_1=input("Please enter the sentence:").lower()   # Enter the Sentence to reverse

word_set = string_1.split()

reverse_word=word_set[::-1]

reverse_string = " ".join(reverse_word)

print(f" The final output of the string is '{reverse_string}'.")

Please enter the sentence:hello, my name is abhimanyu sharma
 The final output of the string is 'sharma abhimanyu is name my hello,'.

### Question 23. Check if a string is alphanumeric.

In [26]:
string_1=input('Please enter any type of string').lower()   # Enter the sentence

if string_1.isalnum():                                      # If else condition to check the type of string 
    print("The entered string is alphanumeric.")
else:
    print("The entered string is not alphanumeric.")    # Print the final result based on the string

Please enter any type of stringhello, my name is abhimanyu sharma
The entered string is not alphanumeric.

### Question 24. Extract all digits from a string.

In [27]:
import re    # Importing the regular expression library 

string_1=input('Please enter any type of string: ').lower()   # Enter the sentence

digits = re.findall(r'\d', string_1)     # This function will extract the digits from the string

all_digit = ''.join(digits)

print(f"The total digit in the string is : '{all_digit}'. ")

Please enter any type of string: hello, my name is abhimanyu sharma and i am 33 years old
The total digit in the string is : '33'.

### Question 25. Extract all alphabets from a string.

In [28]:
import re    # Importing the regular expression library 

string_1=input('Please enter any type of string: ').lower()   # Enter the sentence

alphabets = re.findall(r'[a-zA-Z]', string_1)     # This function will extract the digits from the string

all_alphabets = ''.join(alphabets)

print(f"The total alphabet in the string is : '{all_alphabets}'. ")

Please enter any type of string: hello, my name is abhimanyu sharma and i am 33 years old
The total alphabet in the string is : 'hellomynameisabhimanyusharmaandiamyearsold'.

### Question 26. Count the number of uppercase letters in a string.

In [29]:
string_1=input('Please enter any type of string: ')   # Enter the sentence

uppercase_count = 0    # Initialising the varibale for counting 

for char in string_1:     # for loop to iterate every word in string
    if char.isupper():
        uppercase_count += 1
print (f"The total number of uppercase alphabet is : '{uppercase_count}'.")   # Printing the final result

Please enter any type of string: hello, my name is abhimanyu sharma
The total number of uppercase alphabet is : '0'.

### Question 27. Count the number of lowercase letters in a string.

In [30]:
string_1=input('Please enter any type of string: ')   # Enter the sentence

lowercase_count = 0    # Initialising the varibale for counting 

for char in string_1:     # for loop to iterate every word in string
    if char.islower():
        lowercase_count += 1
print (f"The total number of lowercase alphabet is : '{lowercase_count}'.")   # Printing the final result

Please enter any type of string: hello, my name is abhimanyu sharma
The total number of lowercase alphabet is : '28'.

### Question 28. Swap the case of each character in a string.

In [32]:
string_1=input('Please enter any type of string: ')   # Enter the sentence

final_string = string_1.swapcase()        # function to swap the case of the letter or word

print (f" The final output of the string is : '{final_string}'.")

Please enter any type of string: hello, my name is abhimanyu sharma AND I AM PRACTICING PYTHON
 The final output of the string is : 'HELLO, MY NAME IS ABHIMANYU SHARMA and i am practicing python'.

### Question 29. Remove a specific word from a string.

In [34]:
string_1=input('Please enter any type of string: ').lower()   # Enter the sentence

drop_word =  input (" Please enter the word to drop from the above sentence ").lower()

final_string = string_1.replace(drop_word,"")

print( final_string)

Please enter any type of string: hello, my name is abhimanyu sharma
 Please enter the word to drop from the above sentence abhimanyu
hello, my name is  sharma

### Question 30. Check if a string is a valid email address.

In [35]:
import re

string_1=input('Please enter the e-mail address: ')   # Enter the E-mail address

Verified_email= r'^[\w\.-]+@[\w\.-]+\.\w+$'

if re.match(Verified_email, string_1):                     # If condition with re.match function to find the valid E-mail
    print(f"'{string_1}' is valid.")
else:
    print(f"'{string_1}' is invalid.")

Please enter the e-mail address: hello, my name is abhimanyu sharma
'hello, my name is abhimanyu sharma' is invalid.

### Question 31. Extract the username from an email address string.

In [36]:
import re

string_1 = input("Please enter e-mail address")    # Enter the E-mail address

username = string_1.split('@')[0]   #split the string from @

print(f"The username from the E-mail address is : '{username}'.")

Please enter e-mail addressjust.abhi08@gmail.com
The username from the E-mail address is : 'just.abhi08'.

### Question 32. Extract the domain name from an email address string.

In [37]:
import re

string_1 = input("Please enter e-mail address")    # Enter the E-mail address

username = string_1.split('@')[-1]   #split the string from @

print(f"The domain name of the E-mail address is : '{username}'.")

Please enter e-mail addressjust.abhi08@gmail.com
The domain name of the E-mail address is : 'gmail.com'.

### Question 33. Replace multiple spaces in a string with a single space.

In [39]:
import re

string_1 = input("Please enter the string with mulitple spaces").lower()

updated_string = re.sub(r'\s+', ' ', input_string)   # using regular expression to clean the string

print(f"The final string is  '{updated_string}'.")

Please enter the string with mulitple spaceshello,    my   name   is   abhimanyu    sharma
The final string is  'hello, my name is abhimanyu sharma'.

### Question 34. Check if a string is a valid URL.

In [40]:
pip install validators

Requirement already satisfied: validators in c:\users\abhimanyu\anaconda3\lib\site-packages (0.22.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [42]:
import validators   # Importing Necessary Library

def valid_url(url_string):
    return validators.url(url_string)   # Define function to check the validity of the link

url_string= input(" Please Enter the URL: ")   # Ask the User to Provide the URL

if valid_url(url_string):
    print("This URL is valid")   # IF else condition to check the URL
else:
    print("This is Invalid URL")

 Please Enter the URL: https://www.google.com
This URL is valid

### Question 35. Extract the protocol (http or https) from a URL string.

In [43]:
from urllib.parse import urlparse

def extract_protocol (url_string):
    parsed_url=urlparse(url_string)
    return parsed_url.scheme

url_string = input(" Please Enter the URL: ")   # Ask the User to Provide the URL
protocol = extract_protocol(url_string)
print("The Protocol is :" , protocol)

 Please Enter the URL: https://www.google.com
The Protocol is : https

### Question 36. Find the frequency of each character in a string.

In [44]:
def character_frequency(input_string):
    
    frequency_dict = {}      # Initialising the blank dictionary
    
    
    for char in input_string:     # itierate the charcter of the input_string
        
        if char in frequency_dict:
            frequency_dict [char] +=1
            
        else:
            frequency_dict [char] =1
            
    return frequency_dict            # Return the frequency


input_string =  input("Please enter the string : ")
freq_dict  = character_frequency(input_string)

for char , frequency in freq_dict.items():
    print (f" '{char}' : {frequency}")

Please enter the string : hello, my name is abhimanyu sharma
 'h' : 3
 'e' : 2
 'l' : 2
 'o' : 1
 ',' : 1
 ' ' : 6
 'm' : 4
 'y' : 2
 'n' : 2
 'a' : 5
 'i' : 2
 's' : 2
 'b' : 1
 'u' : 1
 'r' : 1

### Question 37. Remove all punctuation from a string.

In [45]:
import string   # Import the string library
def remove_punct(input_string):  # Define the functions
    
    translator = str.maketrans('','', string.punctuation)
    
    final_string = input_string.translate(translator)       # using the translate function to seperate the punctuation from char

    return  final_string

input_string = input("Please enter the string : ")   # Ask the user to input the string
final_string = remove_punct(input_string)
print (final_string)   # Printing the final string

Please enter the string : hello, "my name is "abhimanyu sharma".
hello my name is abhimanyu sharma

### Question 38. Check if a string contains only digits.

In [46]:
def digit_only(input_string):         # define the functions 
    return input_string.isdigit()

input_string = input("Please enter the details : ")   # ask the user to enter the details

if digit_only(input_string):
    print ("Input string only have digits")    # if condition to check whether string have only numbers
else:
    print ("Input string have other characters also ")

Please enter the details : hello, my name is abhimanyu sharma
Input string have other characters also

### Question 39. Check if a string contains only alphabets.

In [ ]:
def char_only(input_string):
    return input_string.isalpha()

input_string = input("Please enter the details : ")   # ask the user to input the details

if char_only(input_string):
    print ("Input string only have alphabet")
else:
    print ("Input string have digits and other characters")

### Question 40. Convert a string to a list of characters.

In [47]:
input_string = input ( " Please enter the string : ")
char_list =  list(input_string)
print (char_list)

 Please enter the string : hello, my name is abhimanyu sharma and i am 33 years old
['h', 'e', 'l', 'l', 'o', ',', ' ', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'b', 'h', 'i', 'm', 'a', 'n', 'y', 'u', ' ', 's', 'h', 'a', 'r', 'm', 'a', ' ', 'a', 'n', 'd', ' ', 'i', ' ', 'a', 'm', ' ', '3', '3', ' ', 'y', 'e', 'a', 'r', 's', ' ', 'o', 'l', 'd']

### Question 41. Check if two strings are anagrams.

In [48]:
def is_anagram(string1, string2):

    string1 = sorted(string1.replace(" ", " ").lower())
    string2 = sorted(string2.replace(" ", " ").lower())

    return string1 == string2

string_1 = input("Please enter the string: ")
string_2 = input("Please enter the string: ")


if is_anagram(string_1, string_2):
    print("The strings are anagram")
    
else:
    print ("The strings are not anagrams")

Please enter the string: study
Please enter the string: dusty
The strings are anagram

### Question 42. Encode a string using a Caesar cipher.

In [49]:
def caesar_cipher_encode(input_string, shift):
    encoded_string = " "
    
    for char in input_string:
        if char.isalpha():
            if char.isupper():
                offset = ord("A")
            else:
                offset=ord("a")
                    
            shift = int(shift)       
            encoded_char = chr((ord(char) - offset + shift ) % 26 + offset )
        else:
            
            encoded_char= char
        encoded_string += encoded_char
    return encoded_string
    
input_string = input("Please enter the string : ")
shift = int(input( "Please enter the shift digit : "))

encoded_string = caesar_cipher_encode( input_string , shift)
print ("Encoded String : " , encoded_string)

Please enter the string : hello, my name is abhimanyu sharma and i am practicing python
Please enter the shift digit : 3
Encoded String :   khoor, pb qdph lv deklpdqbx vkdupd dqg l dp sudfwlflqj sbwkrq

### Question 43. Decode a Caesar cipher encoded string.

In [50]:
def caesar_cipher_decode(encoded_string, shift):
    decoded_string = ""

    for char in encoded_string:
        if char.isalpha():  
            if char.isupper():  
                offset = ord('A')
            else: 
                offset = ord('a')
            
           
            shift = int(shift)
            decoded_char = chr((ord(char) - offset - shift) % 26 + offset)
        else:
            
            decoded_char = char

        decoded_string += decoded_char

    return decoded_string

encoded_string = input("Please enter the encoded string: ")
shift = input("Please enter the shift digit: ")

decoded_string = caesar_cipher_decode(encoded_string, shift)
print("Decoded String:", decoded_string)

Please enter the encoded string: khoor, pb qdph lv deklpdqbx vkdupd dqg l dp sudfwlflqj sbwkrq
Please enter the shift digit: 3
Decoded String: hello, my name is abhimanyu sharma and i am practicing python

### Question 44. Find the most frequent word in a string.

In [51]:
import re
from collections import Counter

def most_freq_word (input_string):
        words = re.findall(r'\b\w+\b', input_string.lower())
        words_count = Counter(words)
        
        max_frequency = max(words_count.values())
        most_frequent_words = [word for word, freq in words_count.items() if freq == max_frequency]
            
        return most_frequent_words , max_frequency

input_string = input("Please enter the string : ")
most_freq_word = most_freq_word(input_string)
print ("Most Frequent Word :  ", most_freq_word)

Please enter the string : hello, my name is abhimanyu sharma and i am practicing python
Most Frequent Word :   (['hello', 'my', 'name', 'is', 'abhimanyu', 'sharma', 'and', 'i', 'am', 'practicing', 'python'], 1)

### Question 45. Find all unique words in a string.

In [52]:
import re   # import regular expression library

def unique_words(input_string):
    words = re.findall(r'\b\w+\b', input_string.lower())    #  Split the words using regular expression
    
    unique_word_set = set(words)  # create the sets of words
    
    return unique_word_set

input_string = input("Please enter the string: ")  # Ask the user to input the string
unique_words_set = unique_words(input_string)
print("Unique words:", unique_words_set)

Please enter the string: hello, my name is abhimanyu sharma and i am practicing python
Unique words: {'abhimanyu', 'hello', 'practicing', 'my', 'is', 'python', 'i', 'sharma', 'am', 'and', 'name'}

### Question 46. Count the number of syllables in a string.

In [53]:
def count_syllables(word):
    return len([char for char in word.lower() if char in 'aeiou'])

word = input("Please enter a word: ")     # Ask the user to enter the word
syllable_count = count_syllables(word)
print("Number of syllables:", syllable_count)

Please enter a word: hello, my name is abhimanyu sharma and i am practicing python
Number of syllables: 18

### Question 47. Check if a string contains any special characters.

In [54]:
def has_spcl_char(input_string):
    special_characters = "!@#$%^&*()_+{}[]:;<>,.?~\\|"
    return any(char in special_characters for char in input_string)


input_string = input("Please enter a string: ")   # Ask the user to enter the string
if has_spcl_char(input_string):
    print("The string has special characters.")
else:
    print("The string does not contain special characters.")

Please enter a string: hello, "my name is " abhimanyu sharma".
The string has special characters.

### Question 48. Remove the nth word from a string.

In [55]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if 0 <= n < len(words):
        del words[n]
        return ' '.join(words)
    return input_string

input_string = input("Please enter the string")
n = int(input( "Please enter the position : " ))
result = remove_nth_word(input_string, n)
print("Result:", result)

Please enter the stringhello, my name is abhimanyu sharma
Please enter the position : 3
Result: hello, my name abhimanyu sharma

### Question 49. Insert a word at the nth position in a string.

In [56]:
def insert_word_at_nth_position(input_string, n, new_word):
    words = input_string.split()
    
    if 0 <= n <= len(words):
        words.insert(n, new_word)
        result_string = ' '.join(words)
        return result_string
    else:
        return input_string

# Example usage:
input_string = input("Please enter the string : ")
n = int(input( "Please enter the position : " ))
new_word = input("Please enter the new word : ")
result = insert_word_at_nth_position(input_string, n, new_word)
print("Result:", result)

Please enter the string : hello, my name is abhimanyu sharma
Please enter the position : 2
Please enter the new word : is
Result: hello, my is name is abhimanyu sharma

### Question 50. Convert a CSV string to a list of lists.

In [57]:
csv_string = """ Name, Age, Location
Abhimanyu, 33, Haryana
Subodh, 33, Delhi
Kartik, 31, Rajasthan
Shubham, 30, Bihar
"""

csv_file = []

lines = csv_string.strip().split('\n')

for line in lines:
    values =  line.split(' ')
    csv_file.append(values)
    
for row in csv_file:
    print (row)

['Name,', 'Age,', 'Location']
['Abhimanyu,', '33,', 'Haryana']
['Subodh,', '33,', 'Delhi']
['Kartik,', '31,', 'Rajasthan']
['Shubham,', '30,', 'Bihar']

## List Based Practice Problem

### Question 1. Create a list with integers from 1 to 10.

In [58]:
list_1 = []     # Initiate the blank list

for i in range(1,11):    # for loop for the range 
    list_1.append(i)          # append the list after each iteration
print (list_1)            # print the final list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Question 2. Find the length of a list without using the `len()` function.

In [59]:
list_1=[1,2,3,4,5,6,7,8,9,10]      # Enter the data in list

count = 0                 # initiate the count as ZERO

for _ in list_1:            # For loop for iteration
    count +=1
    
print("The total length of the list is : " , count)

The total length of the list is :  10

### Question 3. Append an element to the end of a list.

In [60]:
list_1 = [1,2,3,4,5,6,7,8,9,10]     #Enter the data in the list

list_1.append(11)                 # Add the desired number to put in the list

print(list_1)   # print the final list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### Question 4. Insert an element at a specific index in a list.

In [61]:
list_1 = [1,2,3,4,5,6,7,8,9,10]     #Enter the data in the list

index_pos = 8               
digit = 18

list_1.insert(index_pos, digit)

print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 18, 9, 10]

### Question 5. Remove an element from a list by its value.

In [63]:
list_1 = [1,2,3,4,5,6,7,8,9,10]     #Enter the data in the list

digit = int(input("Please enter the digit to remove" ))   # Enter the digit which needs to be remove

if digit in list_1:
    list_1.remove(digit)
    print(f"The following digit is removed {digit} from the list. ")
else:
    print(f"The following {digit} is not present in the list. ")
    
print(list_1)

Please enter the digit to remove3
The following digit is removed 3 from the list.
[1, 2, 4, 5, 6, 7, 8, 9, 10]

### Question 6. Remove an element from a list by its index.

In [69]:
list_1 = [1,2,3,4,5,6,7,8,9,10]     #Enter the data in the list

index= int(input("Please enter the index position : "))   # Enter the index position

if 0<= index <len(list_1):                                 # Condition to check the list length
    list_1= list_1[:index] + list_1[index + 1 :]
    
    print (f" The following digit has been removed from index {index}.")
else:
    print (f" Out of Range Index.")

print(list_1)

Please enter the index position : 3
 The following digit has been removed from index 3.
[1, 2, 3, 5, 6, 7, 8, 9, 10]

### Question 7. Check if an element exists in a list.

In [70]:
list_1 = [1,2,3,4,5,6,7,8,9,10]     #Enter the data in the list

element = int(input('Please enter the item to check in the list : '))

if element in list_1:
    print(f"The {element} is present in the list.")
else:
    print("The element is not in the list")

Please enter the item to check in the list : 4
The 4 is present in the list.

### Question 8. Find the index of the first occurrence of an element in a list.

In [71]:
list_1 = [1,2,3,4,5,6,7,8,9,10]     #Enter the data in the list

element = int(input('Please enter the item to check in the list : '))

if element in list_1:
    
    index = list_1.index(element)
    
    print(f"The first occurrence of {element} is at index {index}.")
else:
    print(f"{element} does not exist in the list.")

Please enter the item to check in the list : 8
The first occurrence of 8 is at index 7.

### Question 9. Count the occurrences of an element in a list.

In [72]:
list_1 = [1,2,3,4,5,6,7,8,9,10,8,9,8]     #Enter the data in the list

element = int(input('Please enter the item to check in the list : '))

count = list_1.count(element)

print (f"The element {element} is present {count} time in the list.")

Please enter the item to check in the list : 4
The element 4 is present 1 time in the list.

### Question 10. Reverse the order of elements in a list.

In [73]:
list_1 = [1,2,3,4,5,6,7,8,9,10,8,9,8]     #Enter the data in the list

new_list = list_1[::-1]      

print(new_list)

[8, 9, 8, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Question 11. Sort a list in ascending order.

In [74]:
list_1 = [1,2,3,4,5,6,7,8,9,10,8,9,8]     #Enter the data in the list

new_list = sorted(list_1)

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 8, 8, 9, 9, 10]

### Question 12. Sort a list in descending order.

In [75]:
list_1 = [1,2,3,4,5,6,7,8,9,10,8,9,8]     #Enter the data in the list

new_list = sorted(list_1, reverse= True )

print(new_list)

[10, 9, 9, 8, 8, 8, 7, 6, 5, 4, 3, 2, 1]

### Question 13. Create a list of even numbers from 1 to 20.

In [76]:
even_num = []   # Initiate the blank list

for x in range(2,21,2):
    even_num.append(x)
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Question 14. Create a list of odd numbers from 1 to 20.

In [77]:
odd_num = []   # Initiate the blank list

for x in range(1,21,2):
    odd_num.append(x)
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Question 15. Find the sum of all elements in a list.

In [78]:
list_1 = [1,2,3,4,5,6,7,8,9,10,8,9,8]     #Enter the data in the list

new_list = sum(list_1)

print(new_list)

80

### Question 16. Find the maximum value in a list.

In [79]:
list_1 = [1,2,3,4,5,6,7,8,9,10,8,9,8]     #Enter the data in the list

new_list = max(list_1)     # max function to check the maximum number 

print(new_list)

10

# Question 17. Find the minimum value in a list.

In [80]:
list_1 = [1,2,3,4,5,6,7,8,9,10,8,9,8]     #Enter the data in the list

new_list = min(list_1)     # min function to check the minimum number 

print(new_list)

1

### Question 18. Create a list of squares of numbers from 1 to 10.

In [81]:
squares = [] # Initiate the blank list

for x in range(1,11):
    squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 19. Create a list of random numbers.

In [82]:
import random

rand_count = int(input("Please enter the count of the random numbers to generate : "))

rand_num = [ ]   # Initiatet the blank list

for _ in range(rand_count):
    rand_num.append(random.randint(1,100))
    
print(rand_num)

Please enter the count of the random numbers to generate : 4
[7, 7, 86, 29]

### Question 20. Remove duplicates from a list.

In [83]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 8, 9, 8]

new_list = []  # Initialize the new list

for item in my_list:
    if item not in new_list:
        new_list.append(item)

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Question 21. Find the common elements between two lists.

In [84]:
list_1 = [5, 6, 7, 8, 9, 10]
list_2 = [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

common_elements = [x for x in list_1 if x in list_2]

print(f"The common elements in the lists are: {common_elements}")

The common elements in the lists are: [8, 9, 10]

### Question 22. Find the difference between two lists.

In [85]:
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
list_2 = [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

diff_elements = [x for x in list_1 if x not in list_2] + [x for x in list_2 if x not in list_1]

print(f"The unique elements in the lists are: {diff_elements}")

The unique elements in the lists are: [1, 2, 3, 4, 5, 6, 7, 14, 15, 16, 17]

### Question 23. Merge two lists.

In [86]:
list_1= [1,2,3,4,5,6,7,8,9,10,11,12,13]  
list_2= [8,9,10,11,12,13,14,15,16,17]

final_list = list_1 + list_2     

print(f"The elements of the final_list are {final_list} ")

The elements of the final_list are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

### Question 24. Multiply all elements in a list by 2.

In [87]:
list_1 = [1, 2, 3, 4, 5,6,7,8,9,0]

for i in range(len(list_1)):
    list_1[i] = list_1[i] * 2

print(list_1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 0]

### Question 25. Filter out all even numbers from a list.

In [88]:
list_1= [1,2,3,4,5,6,7,7,8,7,8]
even_list = [x for x in list_1 if x % 2 == 0 ]

print(f"The even numbers list are {even_list}")

The even numbers list are [2, 4, 6, 8, 8]

### Question 26. Convert a list of strings to a list of integers.

In [89]:
string_list = ["1","3", "2", "4", "5", "6", "7" , "8"]   # list in the form of strings
list_1 = [int(string) for string in string_list]     # Creating new list for taking every element in string_list as integer
print(list_1)
type(list_1)

[1, 3, 2, 4, 5, 6, 7, 8]

list

### Question 27. Convert a list of integers to a list of strings.

In [90]:
int_list = [1, 2, 3, 4, 5,6,7,8,9,0]   # list in the form of strings
list_1 = [str(int) for int in int_list]     # Creating new list for taking every element in string_list as integer
print(list_1)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

### Question 28. Flatten a nested list.

In [91]:
def flatten_nested_list(nested):
    for item in nested:
        if isinstance(item, list):
            yield from flatten_nested_list(item)
        else:
            yield item

# Example nested list
nested_list = [1, 2, [3, 4, [5, 6]], [7, 8]]

# Flatten the nested list
flat_list = list(flatten_nested_list(nested_list))

# Printing the flattened list
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8]

### Question 29. Create a list of the first 10 Fibonacci numbers.

In [92]:
fib_seq = [0, 1]      # Initialize the first two Fibonacci numbers

for i in range(2, 20):
    next_fib = fib_seq[i - 1] + fib_seq[i - 2]
    fib_seq.append(next_fib)

print(fib_seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

### Question 30. Check if a list is sorted.

In [93]:
def is_sorted(arr):
    return arr == sorted(arr)

my_list = [1, 2, 3, 4, 5,6,7,8,9,10,11,12,14,15,22]
is_sorted_result = is_sorted(my_list)

if is_sorted_result:
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

### Question 31. Rotate a list to the left by `n` positions.

In [95]:
def rotate_left(arr, n):
    if len(arr) == 0:
        return arr  # No rotation needed for an empty list
    n = n % len(arr)     # Rotation number should not be greater then the list length
    return arr[n:] + arr[:n]

list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = int(input("Please enter the number for rotation of the list : "))
updated_list = list_1[n:] + list_1[:n]
print(updated_list)

Please enter the number for rotation of the list : 4
[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

### Question 32. Rotate a list to the right by `n` positions.

In [96]:
def rotate_right(arr, n):
    if len(arr) == 0:
        return arr  # No rotation needed for an empty list
    n = n % len(arr)     # Rotation number should not be greater then the list length
    return arr[:n] + arr[n:]

list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = int(input("Please enter the number for rotation of the list : "))
updated_list = list_1[n:] + list_1[:n]
print(updated_list)

Please enter the number for rotation of the list : 4
[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

### Question 33. Create a list of prime numbers up to 50.

In [97]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### Question 34. Split a list into chunks of size `n`.

In [98]:
def chunk_list(input_list, n):
    if n <= 0:
        return [input_list]  
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = int(input("Plese enter the size range : " ))
chunks = chunk_list(my_list, chunk_size)

for chunk in chunks:
    print(chunk)

Plese enter the size range : 4
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10]

### Question 35. Find the second largest number in a list.

In [99]:
def second_largest(num):
    if len(num)<2:
        return "List must have atleast two numbers."
    
    sort_num = sorted(num, reverse=True)
    return sort_num[1]

num = [1,11,34,66,4,32,23,2,3,23,4,5,6,7,88,55,123]
solution = second_largest(num)
print(f"The Second Largest Number is : {solution}.")

The Second Largest Number is : 88.

### Question 36. Replace every element in a list with its square.

In [100]:
def square_function(list):
    
    square_list = [] # Initiate the blank list for storing the square of the elements
    
    for i in list:
        square_element  = i ** 2
        square_list.append(square_element)
    return square_list


num = [1,2,33,44,55,6,7,866,45]
result = square_function(num)
print (f"The square of the given numbers are  : {result}")

The square of the given numbers are  : [1, 4, 1089, 1936, 3025, 36, 49, 749956, 2025]

### Question 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [101]:
list_1 = ["Abhimanyu","Sangeeta","Kuldeep","Seema", "Yug","Takshavi"]

dict = {}   # Initiating the blank dictionary for storing the elements

for index , element in enumerate(list_1):  
    dict[element] = index

print (dict)

{'Abhimanyu': 0, 'Sangeeta': 1, 'Kuldeep': 2, 'Seema': 3, 'Yug': 4, 'Takshavi': 5}

### Question 38. Shuffle the elements of a list randomly.

In [102]:
import random   # importing the random library for using the random shuffle function

list_1 = [1,2,33,43,3,43,4,3,532,776,48,688,4,3]

random.shuffle(list_1)

print(list_1)

[3, 43, 532, 1, 33, 43, 3, 4, 776, 48, 2, 4, 3, 688]

### Question 39. Create a list of the first 10 factorial numbers.

In [103]:
def cal_fact(n):
    factorial = 1      #Initiating the inital factorial as 1 
    
    for i in range(1,n+1):
        factorial *= i
    return factorial 

first_10_fact = []
for n in range(10):
    first_10_fact.append(cal_fact(n))
    
print(first_10_fact)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### Question 40. Check if two lists have at least one element in common.

In [104]:
tango = [1,2,3,4,5,6,7,8,9,10]
charlie = [2,4,5,6,11,12,13,14,15,16,17]


set_1 = set(tango)
set_2 = set(charlie)
common_element = set_1.intersection(set_2)

if common_element:
    print(f"The List have atleast one common element {common_element}")
else:
    print("The list do not contain common element")

The List have atleast one common element {2, 4, 5, 6}

### Question 41. Remove all elements from a list.

In [105]:
list_1 = [1,2,3,4,5,6,7,5,6,7]
result = list_1.clear()
print(f"The List have been cleared {list_1}")

The List have been cleared []

### Question 42. Replace negative numbers in a list with 0.

In [106]:
list_1 = [1,2,4,2,4,2,-1,-2,-3,40,-55,-34,-56]

for i in range(len(list_1)):
    if list_1[i]<0:
        list_1[i]=0
        
print(list_1)

[1, 2, 4, 2, 4, 2, 0, 0, 0, 40, 0, 0, 0]

### Question 43. Convert a string into a list of words.

In [107]:
inp_str = input("Please Enter the sentence : ")

list_1 = inp_str.split()
print(list_1)

Please Enter the sentence : hello my name is abhimanyu sharma
['hello', 'my', 'name', 'is', 'abhimanyu', 'sharma']

### Question 44. Convert a list of words into a string.

In [108]:
list_1 = ["My" , "Name" ,  "is",  "Abhimanyu", "Sharma"]

string_1 = " ".join(list_1)
print (string_1)
type(string_1)

My Name is Abhimanyu Sharma

str

### Question 45. Create a list of the first `n` powers of 2.

In [109]:
n = 10
power_2 = []  # Initiate the blank list to store the data after the solution

for i in range(n):
    power_2.append(2 ** i)

print(power_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

### Question 46. Find the longest string in a list of strings.

In [110]:
string_1 = ["Abhimanyu" , "Sharma" , "Brisbane" , "Rockstar" , "Lunar", "Mission" ]

longest_string = max(string_1 , key = len)

print (f"The longest string is {longest_string} ")

The longest string is Abhimanyu

### Question 47. Find the shortest string in a list of strings.

In [111]:
string_1 = ["Abhimanyu" , "Sharma" , "Brisbane" , "Rockstar" , "Lunar", "Mission" ]

longest_string = min(string_1 , key = len)

print (f"The Shortest string is {longest_string} ")

The Shortest string is Lunar

### Question 48. Create a list of the first `n` triangular numbers.

In [112]:
n = 10
triangular_num  = []  # Initiate the blank list to store the data after the solution

for i in range(n):
    triangular_num.append(i* ( i+1 )//2)


print(triangular_num)

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

### Question 49. Check if a list contains another list as a subsequence.

In [113]:
def is_subsequence(sublist, mainlist):
    for item in sublist:
        if item not in mainlist:
            return False
    return True

mainlist = [1, 2, 3, 4, 5, 6, 7, 8, 9,11,13,5,6,7]
sublist = [3, 4, 5, 6]

final_result = is_subsequence(sublist, mainlist)

if final_result:
    print("sublist is a subsequence of the Main List")
else:
    print("sublist is not a subsequence of the Main List")

sublist is a subsequence of the Main List

### Question 50. Swap two elements in a list by their indices.

In [114]:
def swap_elements(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]          # Swap the elements


list_1 = [1, 2, 3, 4, 5]   # Sample List

index1 = 1
index2 = 3         # Indices to swap

swap_elements(list_1, index1, index2)     # Swapping the elements
print(list_1)    # Print the final result

[1, 4, 3, 2, 5]

## Tuple Based Problem

### Question 1. Create a tuple with integers from 1 to 5.

In [115]:
tuple_1 = (1,2,3,4,5)
type(tuple_1)

tuple

### Question 2. Access the third element of a tuple.

In [116]:
tuple_1 = (1,2,3,4,5)     # Entering the value in the tuple

final_num =  tuple_1[2]  # Accesing the third element from the tuple as index start from ZERO

print(final_num)

3

### Question 3. Find the length of a tuple without using the `len()` function.

In [118]:
def tuple_length(tuple_1):
    count = 0
    for _ in tuple_1:
        count +=1
    return count

tuple_1 = (1,2,3,4,5,6,7,8,9,10)

final_result = tuple_length(tuple_1)
print (f" The length of the tuple is  : {final_result} ")

 The length of the tuple is  : 10

### Question 4. Count the occurrences of an element in a tuple.

In [119]:
def count_occurence( tuple, element):
    count = 0 
    for item in tuple_1:
            if item == element:
                count += 1
    return count
    
tuple_1 = (1,2,3,4,5,6,5,6,3)
element_to_count = 5
occurences = count_occurence ( tuple_1, element_to_count)
print (f" The element {element_to_count} appears {occurences} times in the tuple.")

 The element 5 appears 2 times in the tuple.

### Question 5. Find the index of the first occurrence of an element in a tuple.

In [120]:
def occurrence_index(tuple_1, element):
    for index, item in enumerate(tuple_1):
        if item == element:
            return index
    return -1  # Return -1 if the element is not found in the tuple

tuple_1 = (1,2,3,4,5,6,5,6,3)
element_to_find = 5
index = occurrence_index(tuple_1, element_to_find)

if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 5 is at index 4.

### Question 6. Check if an element exists in a tuple.

In [121]:
def element_existence( tuple_1, element_to_find):
    for item in tuple_1:
            if item == element_to_find:
                return item
    
tuple_1 = (1,2,3,4,5,6,5,6,3)
element_to_find = 5
occurences = element_existence ( tuple_1, element_to_find)
print (f" The element {element_to_count} is present in the tuple.")

 The element 5 is present in the tuple.

### Question 7. Convert a tuple to a list.

In [122]:
tuple_1 = (1,2,3,4,5,6,7,8,9,20)
list_1 = list(tuple_1)

print ("Tuple:" , tuple_1)
print ("List:" , list_1)

Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 20)
List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

### Question 8. Convert a list to a tuple.

In [123]:
list_1 = [1,2,3,4,5,6,7,8,9,10 ]
Tuple_1 = tuple(list_1)

print ("List:" , list_1 )
print ( "Tuple : " , Tuple_1 )

List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Tuple :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Question 9. Unpack the elements of a tuple into variables.

In [125]:
Tuple_1 = (1,2,3,4,5)
var1, var2, var3, var4, var5 = Tuple_1
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)
print("var5:", var5)

var1: 1
var2: 2
var3: 3
var4: 4
var5: 5

### Question 10. Create a tuple of even numbers from 1 to 10.

In [126]:
even_num = tuple([x for x in range(1,11) if x % 2 == 0])
print(even_num)

(2, 4, 6, 8, 10)

### Question 11. Create a tuple of odd numbers from 1 to 10.

In [127]:
odd_num = tuple([x for x in range (1,11) if x % 2 != 0])
print(odd_num)

(1, 3, 5, 7, 9)

### Question 12. Concatenate two tuples.

In [128]:
tup_1 = (1,2,3,4,5,56,6)    # First tuple
tup_2 = (7,8,6,5,3)         # second tuple
final_tup = tup_1 + tup_2     # lets merge the two tuples together
print(final_tup)               #  printing the final result

(1, 2, 3, 4, 5, 56, 6, 7, 8, 6, 5, 3)

### Question 13. Repeat a tuple three times.

In [129]:
tup = (1,2,3,4,5,6)
final_tup = 3*tup
print(final_tup)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

### Question 14. Check if a tuple is empty.

In [130]:
tup_1 = ()  # Initiate the empty tuple

if len(tup_1) == 0:
    print("The tuple is empty")
else:
    print("The Tumple is not empty")

The tuple is empty

### Question 15. Create a nested tuple.

In [131]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Question 16. Access the first element of a nested tuple.

In [132]:
tup_1 = ((1,2), (3,5), (6,7,8,9))

first_element = tup_1[0][0]
print(first_element)

1

### Question 17. Create a tuple with a single element.

In [133]:
tup_1 = (1)
print(tup_1)

1

### Question 18. Compare two tuples.

In [134]:
tup_1 = (1,2,3,4,5,6,)
tup_2 = (2,5,6,7,8,9,0)

if tup_1 == tup_2:
    print ("The tuples are equal")
else:
    print ("The tuples are not equal")

The tuples are not equal

### Question 19. Delete a tuple.

In [135]:
tup_1 = (1,2,3,4,4,5,5)
tup_1 = None
print(tup_1)

None

### Question 20. Slice a tuple.

In [136]:
tup_1 = (1,23,4,5,6,7,8,8,9,0)   # Enter the tuple
sliced_tup = tup_1[2:7]          # indexing of tuple 
print(sliced_tup)

(4, 5, 6, 7, 8)

### Question 21. Find the maximum value in a tuple.

In [137]:
tup_1 = (1,23,4,5,6,7,8,8,9,0)   # Enter the tuple
maximum = max (tup_1)          # max function to check the biggest value in the tuple
print(maximum)

23

### Question 22. Find the minimum value in a tuple.

In [138]:
tup_1 = (1,23,4,5,6,7,8,8,9,0)   # Enter the tuple
minimum = min (tup_1)          #  min function to check the biggest value in the tuple 
print(minimum)

0

### Question 23. Convert a string to a tuple of characters.

In [139]:
string_1 =  "My name is Abhimanyu sharma"    # Enter the string
tup_1 = tuple(string_1)   # tuple function to covert the string into tuple
print(tup_1)  # printing the final tuple

('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'b', 'h', 'i', 'm', 'a', 'n', 'y', 'u', ' ', 's', 'h', 'a', 'r', 'm', 'a')

### Question 24. Convert a tuple of characters to a string.

In [140]:
tup_1 = ( "my", "Name" , "is" ,  "Abhimanyu", "Sharma")
string_1 = " ". join(tup_1)
print(string_1)
type(string_1)

my Name is Abhimanyu Sharma

str

### Question 25. Create a tuple from multiple data types.

In [141]:
tup_1 = ("My", "Name" , "Brisbane" , "4567733", "44.55")
print(tup_1)

('My', 'Name', 'Brisbane', '4567733', '44.55')

### Question 26. Check if two tuples are identical.

In [142]:
tup_1 = (1,2,3,4,5,6,7)
tup_2 = (1,2,3,4,4,5,7)

if tup_1 == tup_2:
    print("The tuples are identical")
else:
    print("The tuples are not identical")

The tuples are not identical

### Question 27. Sort the elements of a tuple.

In [143]:
tup_1 = (4,5,6,7,3,3,5,6,32,14,67,11,1)
list_1= sorted(tup_1)
final_tup = tuple(list_1)
print(final_tup)
type(final_tup)

(1, 3, 3, 4, 5, 5, 6, 6, 7, 11, 14, 32, 67)

tuple

### Question 28. Convert a tuple of integers to a tuple of strings.

In [144]:
tup_1 = (4,5,6,7,3,3,5,6,32,14,67,11,1)
string_1 = str(tup_1)
print(string_1)
type(string_1)

(4, 5, 6, 7, 3, 3, 5, 6, 32, 14, 67, 11, 1)

str

### Question 29. Convert a tuple of strings to a tuple of integers.

In [145]:
tup_1 = ("4","5","6","7","3","3","5","6","32","14","67","11","1")
final_tup = tuple(int(x) for x in tup_1)
print(final_tup)

(4, 5, 6, 7, 3, 3, 5, 6, 32, 14, 67, 11, 1)

### Question 30. Merge two tuples.

In [146]:
tup_1 = (1,2,3,4,5,5,5)   # Enter data in tuple 1
tup_2 = (3,4,5,5,3,223,4,21)  # Enter data in tuple 2
final_tup = tup_1 + tup_2     # Merger the two tuples by adding them
print(final_tup)   # printing the final result

(1, 2, 3, 4, 5, 5, 5, 3, 4, 5, 5, 3, 223, 4, 21)

### Question 31. Flatten a nested tuple.

In [147]:
def flatten_tuple(tup_1):     # defining the function for flatten tuple
    
    flattend = []   # initiating the blank list
    
    for item in tup_1:
        if isinstance (item, tuple):
            flattend.extend(flatten_tuple(item))
        else:
            flattend.append(item)
    return flattend

tup_1 = ((2,3,4,),(3,4,5,3),(333,244,4,5,6,))

final_tup = tuple(flatten_tuple(tup_1))

print(final_tup)

(2, 3, 4, 3, 4, 5, 3, 333, 244, 4, 5, 6)

### Question 32. Create a tuple of the first 5 prime numbers.

In [148]:
def prime_num (num):
    if num < 1 :
        return False
    
    for i in range(2, int(num*0.5) + 1 ):
        if num % i == 0:
            return False
    return True

prime_numbers = tuple(num for num in range (2,12) if prime_num(num))
print(prime_numbers)

(2, 3, 5, 7, 11)

### Question 33. Check if a tuple is a palindrome.

In [149]:
def is_palindrome(my_tuple):
    return my_tuple == my_tuple[::-1]

tup_1 = (1, 2, 3, 2, 1)
tup_2 = (1, 2, 3, 4, 5)

print(is_palindrome(tup_1))  # True
print(is_palindrome(tup_2))  # False

True
False

### Question 34. Create a tuple of squares of numbers from 1 to 5.

In [150]:
tup_1 = (1,2,3,4,5)
squared_tup = tuple(x**2 for x in tup_1)

print(squared_tup)

(1, 4, 9, 16, 25)

### Question 35. Filter out all even numbers from a tuple.

In [151]:
tup_1 = (1,2,3,3,4,5,6,7,8,8,4,3,6,531,11,34)
even_tup = tuple(x for x in tup_1 if x % 2 == 0)
print(even_tup)

(2, 4, 6, 8, 8, 4, 6, 34)

### Question 36. Multiply all elements in a tuple by 2.

In [152]:
tup_1 = (1,2,3,4,5)
final_tup = tuple(x*2 for x in tup_1)

print(final_tup)

(2, 4, 6, 8, 10)

### Question 37. Create a tuple of random numbers.

In [153]:
import random 

random_tup = tuple(random.randint(1,20) for _ in range(20) )
print(random_tup)

(12, 5, 17, 1, 1, 12, 3, 18, 18, 19, 13, 16, 11, 6, 14, 14, 2, 11, 5, 12)

### Question 38. Check if a tuple is sorted.

In [154]:
def is_sorted(tuple_1):
    return tuple_1 == tuple(sorted(tuple_1))

tup_1 = (1,2,3,4,2,44,1)
tup_2 = (1,2,3,4,5,6,7,8,9)

print(is_sorted(tup_1))
print(is_sorted(tup_2))

False
True

### Question 39. Rotate a tuple to the left by `n` positions.

In [155]:
def rotate_left(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)
    
    rotated_tuple = tuple_to_rotate[n:] + tuple_to_rotate[:n]
    
    return rotated_tuple

tup_1 = (1, 2, 3, 4, 5)

rotated_tuple = rotate_left(tup_1, 3)

print(rotated_tuple)

(4, 5, 1, 2, 3)

### Question 40. Rotate a tuple to the right by `n` positions.

In [156]:
def rotate_right(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)
    
    rotated_tuple = tuple_to_rotate[-n:] + tuple_to_rotate[:-n]
    
    return rotated_tuple

tup_1 = (1, 2, 3, 4, 5)

rotated_tuple = rotate_right(tup_1, 2)

print(rotated_tuple)

(4, 5, 1, 2, 3)

### Question 41. Create a tuple of the first 5 Fibonacci numbers.

In [157]:
def  fib_num ():
    fibonacci_num = [0,1]
    
    while len(fibonacci_num) <5 :
        num = fibonacci_num[-1] + fibonacci_num[-2]
        fibonacci_num.append(num)
    return tuple((fibonacci_num))

first_5 = fib_num()
print(f"The first 5 fibonacci numbers are : {first_5} ")

The first 5 fibonacci numbers are : (0, 1, 1, 2, 3)

### Question 42. Create a tuple from user input.

In [158]:
user_inp = input("please enter the data seperated by commas : ")
user_list = user_inp.split(",")

tup_1 = tuple(user_list)
print(tup_1)

please enter the data seperated by commas : hello , my , name , is , abhimanyu , sharma
('hello ', ' my ', ' name ', ' is ', ' abhimanyu ', ' sharma')

### Question 43. Swap two elements in a tuple.

In [159]:
tup_1 = (1,2,3,4,5,6,7,8,9,10)

index1= 2
index7 = 8

tup_1_list = list(tup_1)   # converting the tuple into list for indexing function


temp = tup_1_list[index1]
tup_1_list[index1] = tup_1_list[index7]
tup_1_list[index7] = temp

swapped_tuple = tuple(tup_1_list)

print(swapped_tuple)

(1, 2, 9, 4, 5, 6, 7, 8, 3, 10)

### Question 44. Reverse the elements of a tuple.

In [160]:
tup_1 = (1,2,3,4,5,6,7,8,9,10)    # Enter the tuple data

reversed_tup = tup_1[::-1]      # reverse indexing to reverse the tuple

print(reversed_tup)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

### Question 45. Create a tuple of the first `n` powers of 2.

In [161]:
n = 10 # initiating the number value to 10 
powers_of_2 = tuple(2 ** i for i in range(n))

print(powers_of_2)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

### Question 46. Find the longest string in a tuple of strings.

In [162]:
string_tup = ("Abhimanyu", "sharma", "sangeeta", "gosain" , "Brisbane")

longest_string = " "

for string in string_tup:
    if len(string)> len(longest_string):
        longest_string = string
        
print(f"The longest string is : {longest_string}")

The longest string is : Abhimanyu

### Question 47. Find the shortest string in a tuple of strings.

In [163]:
string_tup = ("Abhimanyu", "sharma", "sangeeta", "gosain", "Brisbane")

shortest_string = string_tup[0]

for string in string_tup:
    if len(string) < len(shortest_string):
        shortest_string = string

print(f"The shortest_string is: {shortest_string}")

The shortest_string is: sharma

### Question 48. Create a tuple of the first `n` triangular numbers.

In [164]:
n = 10
triangular_numbers = []
sum = 0

for i in range(1, n + 1):
    sum += i
    triangular_numbers.append(sum)

triangular_tuple = tuple(triangular_numbers)

print(triangular_tuple)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

### Question 49. Check if a tuple contains another tuple as a subsequence.

In [165]:
def contains_subsequence(main_tuple, sub_tuple):

    for i in range(len(main_tuple) - len(sub_tuple) + 1):

        if main_tuple[i:i + len(sub_tuple)] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

if contains_subsequence(main_tuple, sub_tuple):
    print("Main tuple contains the subsequence.")
else:
    print("Main tuple does not contain the subsequence.")

Main tuple contains the subsequence.

### Question 50. Create a tuple of alternating 1s and 0s of length `n`.

In [166]:
n = 10  # Change 'n' to the desired length
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

## Set Based Problem

### Question 1. Create a set with integers from 1 to 5.

In [167]:
set_1 = {1,2,3,4,5}
print(set_1)
type(set_1)

{1, 2, 3, 4, 5}

set

### Question 2. Add an element to a set.

In [168]:
set_1 = {1, 2, 3, 4, 5}
set_1.update({6})  
print(set_1)
type(set_1)

{1, 2, 3, 4, 5, 6}

set

### Question 3. Remove an element from a set.

In [169]:
set_1 = {1, 2, 3, 4, 5}
set_1.remove(5)  
print(set_1)
type(set_1)

{1, 2, 3, 4}

set

### Question 4. Check if an element exists in a set.

In [170]:
set_1 = {1, 2, 3, 4, 5}
element = 3

if element in set_1:
    print(f"{element} is present in the set ")
else:
    print(f"{element} is not present in the set")

3 is present in the set

### Question 5. Find the length of a set without using the `len()` function.

In [171]:
set_1 = {1, 2, 3, 4, 5}

count = 0

for _ in set_1:
    count +=1
    
print(f"The length of the set is : {count}")

The length of the set is : 5

### Question 6. Clear all elements from a set.

In [172]:
set_1 = {1, 2, 3, 4, 5}
set_1.clear()  # Removes all elements from the set

print(set_1)

set()

### Question 7. Create a set of even numbers from 1 to 10.

In [173]:
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

print(even_numbers_set)

{2, 4, 6, 8, 10}

### Question 8. Create a set of odd numbers from 1 to 10.

In [174]:
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

print(odd_numbers_set)

{1, 3, 5, 7, 9}

### Question 9. Find the union of two sets.

In [175]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {2,3,5,6,8,9,11,13,14,15,16}

union_set = set_1 | set_2
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16}

### Question 10. Find the intersection of two sets.

In [176]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {2,3,5,6,8,9,11,13,14,15,16}

intersection_set = set_1.intersection(set_2)
print(intersection_set)

{2, 3, 5, 6, 8, 9}

### Question 11. Find the difference between two sets.

In [177]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {2,3,4,5,6,7,8,9,10,11,13,14,15,16}

difference_set = set_1.difference(set_2)
print(difference_set)

{1}

### Question 12. Check if a set is a subset of another set.

In [178]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {1,2,3,4,5,6,7,8,9,10,11,13,14,15,16}

subset = set_1.issubset(set_2)
print(subset)

True

### Question 13. Check if a set is a superset of another set.

In [179]:
set_1 = {1,2,3,4,5,6,7,8,9,10,11,13,14,15,16}
set_2 = {1,2,3,4,5,6,7,8,9,10}

subset = set_1.issuperset(set_2)
if subset:
    print("Set 1 is Superset of Set 2")
else:
    print("Set 1 is not a Superset of Set 2")

Set 1 is Superset of Set 2

### Question 14. Create a set from a list.

In [180]:
list_1 = [1,2,3,4,4,5,6,7,79]

set_1 = set(list_1)
print(set_1)
type(set_1)

{1, 2, 3, 4, 5, 6, 7, 79}

set

### Question 15. Convert a set to a list.

In [181]:
set_1 = {1,2,3,4,5,6,7,8,9,1}
list_1 = list(set_1)
print(list_1)
type(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list

### Question 16. Remove a random element from a set.

In [182]:
import random

my_set = {1,2,3,4,5,6,7,8,8,98}

random_element = random.choice(list(my_set))
my_set.remove(random_element)

print("Removed random element:", random_element)
print("Updated set:", my_set)

Removed random element: 2
Updated set: {1, 3, 4, 5, 6, 7, 8, 98}

### Question 17. Pop an element from a set.

In [183]:
set_1 = {1,2,3,4,5,6,7,8,9,1}
removed_element = set_1.pop()

print("Removed Element : " , removed_element)
print("final_set : ", set_1)

Removed Element :  1
final_set :  {2, 3, 4, 5, 6, 7, 8, 9}

### Question 18. Check if two sets have no elements in common.

In [184]:
set_1 = {1,2,3,4,5,6,7,8,9,10,11,13,14,15,16}
set_2 = {1,2,3,4,5,6,7,8,9,10}

no_common_element = set_1.isdisjoint(set_2)

if no_common_element:
    print("The two sets do not have any common element")
else:
    print(f"The two sets have common element")

The two sets have common element

### Question 19. Find the symmetric difference between two sets.

In [185]:
set_1 = {1,2,3,4,5,6,7,8,9,10,11,13,14,15,16}
set_2 = {1,2,3,4,5,6,7,8,9,10}

symmetric_difference_set = set_1.symmetric_difference(set_2)

print(symmetric_difference_set)

{11, 13, 14, 15, 16}

### Question 20. Update a set with elements from another set.

In [186]:
set_1 = {1,2,3,4,5,6,7,8,9,10,11,13,14,15,16}
set_2 = {1,2,3,4,5,6,7,8,9,10}

set_1.update(set_2)
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16}

### Question 21. Create a set of the first 5 prime numbers.

In [187]:
prime_num = lambda x : all(x % i !=0 for i in range (2,x))
prime_set = set (filter(prime_num, range(2,15)))
print(prime_set)

{2, 3, 5, 7, 11, 13}

### Question 22. Check if two sets are identical.

In [188]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The two sets are identical.")
else:
    print("The two sets are not identical.")

The two sets are identical.

### Question 23. Create a frozen set.

In [189]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
frozen_set = frozenset(set_1)
print(frozen_set)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

### Question 24. Check if a set is disjoint with another set.

In [190]:
set_1 = {1,2,3,4,5,6}
set_2 = {7,8,9,10,11,12}

if set_1.isdisjoint(set_2):
    print("The sets are disjoint")
else:
    print("The sets are not disjoint")

The sets are disjoint

### Question 25. Create a set of squares of numbers from 1 to 5.

In [191]:
squared_set = {x ** 2 for x in range(1,6)}
print(squared_set)

{1, 4, 9, 16, 25}

### Question 26. Filter out all even numbers from a set.

In [192]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
even_set = {x for x in set_1 if x % 2 != 0}
print(even_set)

{1, 3, 5, 7, 9}

### Question 27. Multiply all elements in a set by 2.

In [193]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
final_set = {x*2 for x in set_1 }
print(final_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

### Question 28. Create a set of random numbers.

In [194]:
import random

min_value = 1
max_value = 100
num_random_numbers = 10  

random_list = [random.randint(min_value, max_value) for _ in range(num_random_numbers)]

random_set = set(random_list)

print(random_set)

{65, 3, 39, 73, 14, 79, 48, 17, 60}

### Question 29. Check if a set is empty.

In [195]:
set_1 = {1,2,3,4,5,6,7,8,9,10}

if not set_1:
    print("The set is empty")
else:
    print("The set is not empty")

The set is not empty

### Question 30. Create a nested set (hint: use frozenset).

In [196]:
nested_set = {frozenset([1,2,3,4,5]), frozenset([6,7,8,9,10])}

print(nested_set)

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

### Question 31. Remove an element from a set using the discard method.

In [197]:
set_1 = {1,2,3,4,5,5,6,7,8,9,10}
element_to_remove = 8
final_set = set_1.discard(element_to_remove)
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 9, 10}

### Question 32. Compare two sets.

In [198]:
set_1 = {1,2,3,4,5,6,7}
set_2 = {8,9,10,11,12,13}

if set_1==set_2:
    print("The sets are similar")
else:
    print("The sets are not similar")

The sets are not similar

### Question 33. Create a set from a string.

In [199]:
string_1 = ["My Name is abhimanyu SHARMA " ]
Set_new = set(string_1)
print(Set_new)

{'My Name is abhimanyu SHARMA '}

### Question 34. Convert a set of strings to a set of integers.

In [200]:
string_set = {"1","2","3","4","5","6","7"}
int_set = {int(string) for string in string_set}
print(int_set)

{1, 2, 3, 4, 5, 6, 7}

### Question 35. Convert a set of integers to a set of strings.

In [201]:
int_set = {1,2,3,4,5,6,7,8,9,10}

string_set = set()

for i in int_set:
    string_set.add(str(i))
print(string_set)

{'5', '2', '1', '3', '6', '7', '4', '10', '8', '9'}

### Question 36. Create a set from a tuple.

In [202]:
tuple_1= (1,2,3,4,5,6)
set_1 = set(tuple_1)
print(set_1)
type(set_1)

{1, 2, 3, 4, 5, 6}

set

### Question 37. Convert a set to a tuple.

In [203]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
tuple_1 = tuple(set_1)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

### Question 38. Find the maximum value in a set.

In [204]:
set_1 = {1,2,3,4,5,6,7,8,9,10}

max_set = max(set_1)
print(max_set)

10

### Question 39. Find the minimum value in a set.

In [205]:
set_1 = {1,2,3,4,5,6,7,8,9,10}

min_set = min(set_1)
print(min_set)

1

### Question 40. Create a set from user input.

In [206]:
user_input = input("Please enter the list of elements with spaces : ")
input_element = user_input.split()

user_set = set(input_element)
print(user_set)

Please enter the list of elements with spaces : hello, my name is abhimanyu sharma
{'abhimanyu', 'my', 'is', 'hello,', 'sharma', 'name'}

### Question 41. Check if the intersection of two sets is empty.

In [207]:
set_1 = {1,2,3,4,5,6}
set_2 = {7,8,9,10,11,12}

intersection = set_1.intersection(set_2)

if len(intersection) == 0:
    print("The intersections of the sets is empty")
else:
    print("The intersection of the sets is not empty")

The intersections of the sets is empty

### Question 42. Create a set of the first 5 Fibonacci numbers.

In [208]:
fibonacci_set = set()
a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b

print(fibonacci_set)

{0, 1, 2, 3, 5}

### Question 43. Remove duplicates from a list using sets.

In [209]:
list_1 = [1,2,3,4,4,5,6,3,5,6]

unique_set=set(list_1)

print(unique_set)

{1, 2, 3, 4, 5, 6}

### Question 44. Check if two sets have the same elements, regardless of their count.

In [210]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

### Question 45. Create a set of the first `n` powers of 2.

In [211]:
n = 10

final_set = {2**i for i in range(n)}
print(final_set)

{32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

### Question 46. Find the common elements between a set and a list.

In [212]:
set_1 = {1, 2, 3, 4, 5}
list_1 = [3, 4, 5, 6, 7]
common_elements = list(set(set_1) & set(list_1))
print(common_elements)

[3, 4, 5]

### Question 47. Create a set of the first `n` triangular numbers.

In [213]:
def triangular_number (n):
    tri_num = set()
    for i in range(1 , n+1 ):
        triangular_num = (i * (i+1))//2
        tri_num.add(triangular_num)
    return tri_num

n= int(input("Please enter the number for triangular numbers : "))
tri_set = triangular_number(n)
print(tri_set)

Please enter the number for triangular numbers : 10
{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

### Question 48. Check if a set contains another set as a subset.

In [214]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8}

subset = set_2.issubset(set_1)

if subset:
    print("Set_2 is the subset of set_1")
else:
    print("Set_2 is not the subset of set_1")

Set_2 is the subset of set_1

### Question 49. Create a set of alternating 1s and 0s of length `n`.

In [215]:
def alt_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0)
            
    return alternating_set

n = int(input("Please enter the number to create the set: "))
result = alt_set(n)

print(result)

Please enter the number to create the set: 10
{0, 1}

### Question 50. Merge multiple sets into one.

In [216]:
set_1 = {1,2,3,4,5,6,7}
set_2 = {8.9,10,11,12,14,15}
set_3= {16,17,18,19,20}

merged_set = set_1 | set_2 | set_3 

print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8.9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20}